/*
#FFCB05 – Slug Gold
#00588F – Slug Blue
#FFEA7F – Banana Gold
#38688C – Banana Blue
#FAFAFA – Salt
#121212 – Night Forest
#FFFFFF – White 
*/

/*
Technical Drawing - Primary Font
League Gothic - Secondary Font
Roboto (Light --> Black) - Tertiary Font
*/

@font-face {
	font-family: primary;
	src: url("assets/fonts/TechnicalDrawing.ttf");
}

@font-face {
	font-family: secondary;
	src: url("assets/fonts/LeagueGothic.ttf");
}

/* Use 'font-family: 'Roboto', sans-serif;' for Tertiary */

* { 
	font-family: primary;
	color: red;
	margin: 0;
}

h1, h2, h3 {
	font-family: primary;
	color: #FFCB05;
}

h4, h5, h6 {
	font-family: secondary;
	font-size: 2em;
	color: #00588F;
}

p {
	font-family: 'Roboto', sans-serif	;
	font-size: 2.0em;
	font-weight: 100;
}

/* Header & nav bars */
.topnav {
	position: relative;
	overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
	color: #FFCB05;
	text-align: center;
	text-decoration: none;
	font-size: 32px;
	padding: 50px 50px;
}

/* Style layout of links overall */
.topnav ul {
	list-style: none;
	background-color: #00588F;
	text-align: center;
	padding: 1em;
}

/* Style layout of text itself */
.topnav li {
	display: inline-block;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #FFCB05;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #FFCB05;
	color: white;
}

/* Body */

#main-content {
	height: 900px;
	background-color: #FAFAFA;
	
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.about-first-half {
	color: #FAFAFA;
	font-size: 64px;
	font-family: 'Roboto';
	font-weight: 600;
	
	/* padding-right: 32px; */
	height: 900px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex: 1.25;

	background: url("assets/images/about-us-text.png") left top, #FFCB05;
	/* background-color: #FFCB05; */
}

.title {
	font-family: secondary;
	font-size: 72px;
	color: #38688C;
}

.mission, .about-us {
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #FAFAFA;
	margin-bottom: 50px;
	color: #121212;
}

.about-first-and-half {
	display: flex;
	flex-direction: column;
	margin: 5%;
	flex: 1;
}

/* Executive Officers */
.exec-body {
	background: url(assets/images/squiggles.png), #00588F;
	padding: 10%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.exec-names {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	padding-left: 15%;
	flex: 1.5;
}

.exec-names li {
	font-family: 'Roboto';
	font-weight: 250;
	font-size: 48px;
	
	color: #FAFAFA;
	list-style: none;
}

.exec-title-text {
	font-family: secondary;
	color: #FAFAFA;
	font-size: 64px;
	flex: 0.75;
}

/* Officer names */

.about-second-half {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: url(assets/images/squiggles.png), #00588F;
	padding: 5%;
}

.officer-names {	
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	flex: 0.75;
}

.officer-names li {
	font-family: 'Roboto';
	font-weight: 250;
	/* font-style: italic; */
	font-size: 24px;
	
	color: #FAFAFA;
	list-style: none;
}

.officers-text {
	font-family: secondary;
	color: #FAFAFA;
	font-size: 64px;
	flex: 0.5;
	padding-left: 125px;
}

/* Legacy Officers */

.legacy-body {
	background: url(assets/images/squiggles.png), #00588F;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.swiper {
	width: 50%;
	height: fit-content;
	box-sizing: border-box;
}

.swiper-slide img {
	/* background-color: #38688C; */
	width: 40%;
}

.container {
	width: 100%;
	height: 50vh;
	background: url(assets/images/bg-design.png), radial-gradient(ellipse at left top, rgba(255, 234, 127, 0.75), rgba(255, 203, 5, 0.9));

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.legacy-officer-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 15%;
	padding-right: 10%;

	font-family: secondary;
	color: #FAFAFA;
	font-size: 64px;
}

.swiper {
	width: 50%;
	background: radial-gradient(ellipse at left bottom, rgba(56, 104, 140, 0.2), rgba(0, 88, 143, 0.5));
	border-radius: 0px;
	transition: 0.2s;
}

.swiper:hover {
	border-radius: 25px;
}

.swiper-slide {
	display: flex;
	flex-direction: row;
}

.swiper-slide img {
	/* background-color: #38688C; */
	width: 35%;
	color: #FFEA7F;
}

.swiper-title {
	width: 50%;
	color:#FAFAFA;
	font-family: secondary;
	font-size: 54px;
	padding: 5%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
	color: #FAFAFA;
}