/*
#FFCB05 – Slug Gold
#00588F – Slug Blue
#FFEA7F – Banana Gold
#38688C – Banana Blue
#FAFAFA – Salt
#121212 – Night Forest
#FFFFFF – White 
*/

/*
Technical Drawing - Primary Font
League Gothic - Secondary Font
Roboto (Light --> Black) - Tertiary Font
*/

@font-face {
	font-family: primary;
	src: url("assets/fonts/TechnicalDrawing.ttf");
}

@font-face {
	font-family: secondary;
	src: url("assets/fonts/LeagueGothic.ttf");
}

/* Use 'font-family: 'Roboto', sans-serif;' for Tertiary */

* { 
	font-family: primary;
	color: red;
	margin: 0;
}

h1, h2 {
	font-family: primary;
	color: #FFCB05;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #3868AC;
}

h4, h5, h6 {
	font-family: secondary;
	font-size: 2em;
	color: #00588F;
}

p {
	font-family: 'Roboto', sans-serif	;
	font-size: 2.0em;
	font-weight: 100;
}

/* Header & nav bars */

.slug-container {
	background-color: greenyellow;
}

.slug-container img {
	position: absolute; 
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
	height: 100px;
	z-index: 3;
}

.topnav {
	position: relative;
	overflow: hidden;
	z-index: 2;
}
  
/* Style the links inside the navigation bar */
.topnav a {
	color: #FFCB05;
	text-align: center;
	text-decoration: none;
	font-size: 32px;
	padding: 100px;
	
	font-family: 'Roboto';
	font-weight: 250;
}

/* Style layout of links overall */
.topnav ul {
	list-style: none;
	background-color: #00588F;
	text-align: center;
	padding: 15px;
}

/* Style layout of text itself */
.topnav li {
	display: inline-block;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #FFCB05;
	color: #121212;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #FFCB05;
	color: white;
}

/* Body */

#info {
	/* background: linear-gradient(135deg, rgba(0, 88, 143, 0.33), rgba(0, 88, 143, .33)); */
	height: 874px;
	position: absolute;
	top: 0;
	left: 25%;
	right: 25%;
	z-index: 1;
}

.video-container {
	height: 960px;
	width: 100%;
	overflow: hidden;
}

.slug-gaming-info {
	color: #FFCB05;
	
	font-size: 128px;
	color: #FAFAFA;
	display: flex;
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background: linear-gradient(180deg, rgba(255, 234, 127, 0.16), rgba(255, 203, 5, 0.33));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	margin-top: 64px;
	padding-top: 300px;
}

.caption {
	font-family: secondary;
	color: #FAFAFA;
	font-size: 30px;
}

.join-our-community {
	font-family: 'Roboto';
	color: #FAFAFA;
	font-weight: 300;
	font-size: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-top: 32px;
}

.discord-button {
	height: 64px;
	padding-top: 16px;
}

.learn-more {
	font-family: 'Roboto';
	color: #FAFAFA;
	font-weight: 250;
	font-size: 24px;
	padding-top: 180px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.down-button {
	margin-top: 8px;
}

html {
	scroll-behavior: smooth;
}

/** Second half of Home Page **/
#info2 {
	height:874px;
	/* display: grid; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
	height: 100vh;
	background: radial-gradient(ellipse at left top, rgba(255, 234, 127, 0.75), rgba(255, 203, 5, 0.9));

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.swiper {
	width: 75%;
	background: radial-gradient(ellipse at left bottom, rgba(56, 104, 140, 0.2), rgba(0, 88, 143, 0.5));
	border-radius: 0px;
	transition: 0.2s;
}

.swiper:hover {
	border-radius: 25px;
}

.swiper-slide {
	display: flex;
	flex-direction: row;
}

.swiper-slide img {
	/* background-color: #38688C; */
	width: 50%;
	color: #FFEA7F;
}

.swiper-title {
	width: 50%;
	color:#FAFAFA;
	font-family: secondary;
	font-size: 64px;
	padding: 5%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subtext {
	color:#FAFAFA;
	font-family: 'Roboto';
	font-weight: 250;
	font-size: 20px;
	padding-top: 2.5%;
}

.quoted {
	font-style: italic;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
	color: #FAFAFA;
}

/*	Make the big-text hoverable with the 50px border radius.
	Whenever you hover, the small-text will pop up with radii too
	for only the bottom parts, and the bottom parts of the big-text
	will reduce its radius to 0px.
*/

.big-text {
	color: #FFCB05;
	font-size: 72px;
	font-family: secondary;

	margin-left: 100px;
	margin-right: auto;

	padding: 25px;

	border: 2px solid #FFEA7F;
	border-radius: 0px;
	transition: .15s;
}

.big-text:hover {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.small-text {
	color: #FAFAFA;
	font-size: 16px;
	font-family: 'Roboto';
	
	margin-top: 16px;
	margin-left: 100px;
	margin-right: auto;

	padding: 25px;

	border: 2px solid #FFEA7F;
	border-radius: 50px;
}

.quoted {
	color: #FAFAFA;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: italic;
	margin-top: 50px;
}


/* 
Below this is where 
the about page CSS
shall be applied. 
*/

#main-content {
	height:1920px;
	background-color: #38688C;
	display: grid;

	grid-template-rows: 874px auto;
	justify-content: center;
	align-items: center;
	
	/* grid: 874px; */
}

.about-first-half {
	color: green;
}

/* Partners Page */

.partners-text {
	height: 873px;
	background-color: #FAFAFA;

	color: #00588F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 32px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.here-link {
	color: #00588F;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 32px;
}