/*
#FFCB05 – Slug Gold
#00588F – Slug Blue
#FFEA7F – Banana Gold
#38688C – Banana Blue
#FAFAFA – Salt
#121212 – Night Forest
#FFFFFF – White 
*/

/*
Technical Drawing - Primary Font
League Gothic - Secondary Font
Roboto (Light --> Black) - Tertiary Font
*/

@font-face {
	font-family: primary;
	src: url("assets/fonts/TechnicalDrawing.ttf");
}

@font-face {
	font-family: secondary;
	src: url("assets/fonts/LeagueGothic.ttf");
}

/* Use 'font-family: 'Roboto', sans-serif;' for Tertiary */

* { 
	font-family: primary;
	color: red;
	margin: 0;
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 32px;
	font-weight: 300;
	color: #3868AC;
}

h4, h5, h6 {
	font-family: secondary;
	font-size: 2em;
	color: #00588F;
}

p {
	font-family: 'Roboto', sans-serif	;
	font-size: 2.0em;
	font-weight: 100;
}

/* ========== */
/* Home Page -- "HOME"
/* ========== */

/* Header & topnav section */

/* Topnav slug logo */
.slug-container {
	background-color: greenyellow;
}

.slug-container img {
	position: absolute; 
	left: 8px;
	top: 0px;
	height: 48px;
	z-index: 5;
}

/* Topnav text boxes */

.topnav {
	overflow: hidden;
	background-color: #38688C;
	padding-left: 32px;
	z-index: 6;
}

.topnav a {
	float: left;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 16px;
	color: #FAFAFA;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	font-family: 'Montserrat';
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: #FAFAFA;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
	background-color: #FFCB05;
	color: #121212;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #FFCB05;
	top: 47px;
	min-width: 80px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 4;
}

.dropdown-content a {
	float: none;
	color: #121212;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #FFEA7F;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Body section */
/* Video container & title text */
#info {
	height: 100vh;
	position: absolute;
	top: 0;
	left: 25%;
	right: 25%;
	margin-top: 128px;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-container {
	position: absolute;
	z-index: -2;
	
	height: 960px;
	width: 100%;
	overflow: hidden;
}

/* Gold overlay blurred */
.overlay-container {
	height: 960px;
	width: auto;
	overflow: hidden;

	background: linear-gradient(180deg, rgba(255, 234, 127, 0.16), rgba(255, 203, 5, 0.33));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* Title text presenting Slug Gaming & club description */

.slug-gaming-info {
	color: #FFCB05;
	
	font-size: 128px;
	color: #FAFAFA;
	display: flex;
	
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.slug-gaming-title {
	font-family: primary;
	font-size: 128px;
	color: #FAFAFA;
}

.caption {
	font-family: secondary;
	color: #FAFAFA;
	font-size: 30px;
}

.join-our-community {
	font-family: 'Roboto';
	color: #FAFAFA;
	font-weight: 300;
	font-size: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding-top: 32px;
}

.discord-button {
	height: 64px;
	padding-top: 16px;
}

.learn-more {
	font-family: 'Roboto';
	color: #FAFAFA;
	font-weight: 250;
	font-size: 24px;
	padding-top: 180px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.down-button {
	margin-top: 8px;
}

html {
	scroll-behavior: smooth;
}

/** Slider for different events **/

#info2 {
	height:874px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
	height: 100%;
	background: radial-gradient(ellipse at left top, rgba(255, 234, 127, 0.75), rgba(255, 203, 5, 0.9));

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.swiper {
	width: 75%;
	background: radial-gradient(ellipse at left bottom, rgba(56, 104, 140, 0.2), rgba(0, 88, 143, 0.5));
	border-radius: 0px;
	transition: 0.2s;
}

.swiper:hover {
	border-radius: 25px;
}

.swiper-slide {
	display: flex;
	flex-direction: row;
}

.swiper-slide img {
	width: 50%;
	color: #FFEA7F;
}

.swiper-title {
	width: 50%;
	color:#FAFAFA;
	font-family: secondary;
	font-size: 64px;
	padding: 5%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
	color: #FAFAFA;
}

.subtext {
	color:#FAFAFA;
	font-family: 'Roboto';
	font-weight: 250;
	font-size: 20px;
	padding-top: 2.5%;
}

.quoted {
	color: #FAFAFA;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: italic;
	margin-top: 50px;
}

.here-link2 {
	color: #FAFAFA;
	font-size: 20px;
	font-family: 'Roboto';
}


/* Footer */

.footer {
	background: url("assets/images/squiggles.png"), radial-gradient(ellipse at left bottom, rgba(56, 104, 140, 1), rgba(0, 88, 143, 1));
	height: 360px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	border: 2px solid #38688C;
}

.socials-container img {
	padding: 8px;
	width: 32px;
	margin: 8px;
	border: 1px solid #FAFAFA;
	border-radius: 0px;
	transition: 0.2s;
}

.socials-container img:hover {
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 100px;
}

.bottom-text {
	font-family: 'Montserrat';
	color: #FAFAFA;
	font-weight: 300;
	padding-top: 24px;
}

/* ========== */
/* About Us Page -- "ABOUT" */
/* ========== */

#about-main-content {
	height: 900px;
	background-color: #FAFAFA;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.about-first-half {
	color: #FAFAFA;
	font-size: 64px;
	font-family: 'Roboto';
	font-weight: 600;
	
	height: 900px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex: 1.25;

	background: url("assets/images/about-us-text.png") left top, #FFCB05;
}

.title {
	font-family: secondary;
	font-size: 72px;
	color: #38688C;
}

.mission, .about-us {
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #FAFAFA;
	margin-bottom: 50px;
	color: #121212;
}

.about-first-and-half {
	display: flex;
	flex-direction: column;
	margin: 5%;
	flex: 1;
}

/* Executive Officers */

.exec-body {
	background: url(assets/images/squiggles.png), #00588F;
	padding: 10%;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.exec-names {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	padding-left: 15%;
	flex: 1.5;
}

.exec-names li {
	font-family: 'Roboto';
	font-weight: 250;
	font-size: 48px;
	
	color: #FAFAFA;
	list-style: none;
}

.exec-title-text {
	font-family: secondary;
	color: #FAFAFA;
	font-size: 64px;
	flex: 0.75;
}

/* Officer names */

.about-second-half {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: url(assets/images/squiggles.png), #00588F;
	padding: 5%;
}

.officer-names {	
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	flex: 0.75;
}

.officer-names li {
	font-family: 'Roboto';
	font-weight: 250;
	font-size: 24px;
	
	color: #FAFAFA;
	list-style: none;
}

.officers-text {
	font-family: secondary;
	color: #FAFAFA;
	font-size: 64px;
	flex: 0.5;
	padding-left: 125px;
}

/* Legacy Officers */

.legacy-body {

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.swiper {
	width: 50%;
	height: fit-content;
	box-sizing: border-box;
}

.swiper-slide img {
	width: 40%;
}

.container {
	width: 100%;
	height: 50vh;
	background: url(assets/images/squiggles.png), radial-gradient(ellipse at right bottom, rgba(0, 88, 143, 1), rgba(0, 88, 143, 1));

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.legacy-officer-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 15%;
	padding-right: 10%;

	font-family: secondary;
	color: #FAFAFA;
	font-size: 64px;
}

.swiper {
	width: 50%;
	background: radial-gradient(ellipse at left top, rgba(255, 234, 127, 0.1), rgba(255, 203, 5, 0.25));
	border-radius: 0px;
	transition: 0.2s;
}

.swiper:hover {
	border-radius: 25px;
}

.swiper-slide {
	display: flex;
	flex-direction: row;
}

.swiper-slide img {
	width: 35%;
	color: #FFEA7F;
}

.swiper-title {
	width: 50%;
	color:#FAFAFA;
	font-family: secondary;
	font-size: 54px;
	padding: 5%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
	color: #FAFAFA;
}

/* ========== */
/* Our Teams Page -- "OUR TEAMS" */
/* ========== */

#teams-main-content {
	height: auto;
	background-color: #121212;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content-text {
	font-family: secondary;
	font-size: 32px;
	padding-top: 8px;
	padding: 8px;
	margin: 16px;
	color: #FAFAFA;
	background: radial-gradient(ellipse at top left, rgba(56, 104, 140, 0.75), rgba(0, 88, 143, 0.5));
	border: 2px solid #38688C;
}

.game-btns-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.game-btn {
	font-family: 'Montserrat';
	font-size: 16px;
	padding: 8px;
	margin: 16px;
	color: #FAFAFA;
	background: radial-gradient(ellipse at top left, rgba(56, 104, 140, 0.75), rgba(0, 88, 143, 0.5));
	border: 2px solid #38688C;
	border-radius: 0px;
	transition: 0.2s;
}

.game-btn:hover {
	border-radius: 25px;
}

.game-wrapper {
	display: flex;
	flex-direction: row;
}

.game-title {
	width: 50%;
	color:#FAFAFA;
	font-family: secondary;
	font-size: 64px;
	padding: 5%;
	flex: 0.6;
}

.game-subtext {
	color:#FAFAFA;
	font-family: 'Roboto';
	font-weight: 250;
	font-size: 20px;
	padding-top: 2.5%;
}

.game-img {
	flex: 0.4;

	display: flex;
	align-items: center;
	justify-content: center;
}

.game-img img {
	width: 50%;
	border-radius: 0px;
	transition: 0.2s;
}

.game-img img:hover {
	border-radius: 25px;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	margin: 1%;
	
	width: 75%;
	height: 50%;
	background: radial-gradient(ellipse at right bottom, rgba(56, 104, 140, 0.2), rgba(0, 88, 143, 0.5));
	border: 2px solid #38688C;
	border-radius: 0px;
	transition: 0.2s;
}

.info:hover {
	border-radius: 25px;
}

/* ========== */
/* Events Page -- "EVENTS" */
/* ========== */


#main-content {
	background-color: #FAFAFA;
	
	display: flex;
	flex-direction: row;
	height: 100vh;

	align-items: center;
	justify-content: center;
}

.big-text {
	display: flex;
	flex-direction: column;
	padding: 10%;
	width: 33%;

	color: #38688C;
	font-family: secondary;
	font-size: 72px;
}

.small-text {
	color: #121212;
	font-family: 'Roboto';
	font-weight: 250;
	font-size: 24px;
}

.events-design {
	background: url("assets/images/events-bg2.png");
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.calendar {
	height: 560px;
	width: 800px;
	border-radius: 25px;

	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(2px);
	border: 1px solid #38688C;
	padding: 25px;
}

/* ========== */
/* Gallery Page -- "GALLERY" */
/* ========== */

#main-content {
	height: auto;
	background-color: #121212;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pictures-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 75%;
	margin: 5%;
}

.pictures-container img {
	width: 50vh;
}

.photos-text {
	height: auto;

	color: #FFCB05;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 32px;

	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10%;
}

.photos-here-link {
	color: rgb(255, 234, 127);
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 32px;
}

/* ========== */
/* Partners Page -- "PARTNERS" */
/* ========== */

.partners-text {
	height: 873px;
	background-color: #FAFAFA;

	color: #00588F;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 32px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.here-link {
	color: #00588F;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 32px;
}

/* ========== */
/* Contact Us Page -- "CONTACT" */
/* ========== */

.page-container {
	height: 100vh;
	padding-right: 90px;
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #121212;
}

.form-container {
	flex: 0.5;

	height: 874px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 24rem;
	gap: 1rem;
	
}

input, select, textarea {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #121212;

	padding: 5%;
	background: transparent;
	border: 1px solid black;
	border-radius: 12.5px;
	background: rgba(250, 250, 250, 0.75);
}

textarea {
	width: 25em;
	height: 15em;
	max-height: 400px;
	max-width: 540px;
}

.submit {
	width: 440px;
	height: 50px;
	
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 250;

	color: #FAFAFA;
	background-image: linear-gradient(to right, rgba(56, 104, 140, 0.8), rgba(0, 88, 143, 1));
	border-radius: 12.5px;
	border: 1px solid #38688C;
}

.submit:hover {
	background-image: linear-gradient(to right, rgba(56, 104, 140, 0.5), rgba(0, 88, 143, 0.7));
}

.submit:active {
	background-image: linear-gradient(to right, rgba(56, 104, 140, 0.1), rgba(0, 88, 143, 0.1));
}

.contact-us-text-container {
	flex: 0.25;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-us-title {
	color: #FAFAFA;
	font-family: secondary;
	font-size: 96px;
	font-weight: 500;
	padding-bottom: 1%;
}

.email-us {
	color: #FAFAFA;
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 250;
	padding-bottom: 1%;
}

.email-mailto {
	color: #FAFAFA;
	font-family: 'Roboto';
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 5%;
}

.socials-container {
	width: 480px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.socials-container img {
	padding: 2.5%;
}