/*
#FFCB05 – Slug Gold
#00588F – Slug Blue
#FFEA7F – Banana Gold
#38688C – Banana Blue
#FAFAFA – Salt
#121212 – Night Forest
#FFFFFF – White 
*/

/*
Technical Drawing - Primary Font
League Gothic - Secondary Font
Roboto (Light --> Black) - Tertiary Font
*/

@font-face {
	font-family: primary;
	src: url("assets/fonts/TechnicalDrawing.ttf");
}

@font-face {
	font-family: secondary;
	src: url("assets/fonts/LeagueGothic.ttf");
}

/* Use 'font-family: 'Roboto', sans-serif;' for Tertiary */

* { 
	font-family: primary;
	color: red;
	margin: 0;
}

h1, h2, h3 {
	font-family: primary;
	color: #FFCB05;
}

h4, h5, h6 {
	font-family: secondary;
	font-size: 2em;
	color: #00588F;
}

p {
	font-family: 'Roboto', sans-serif	;
	font-size: 2.0em;
	font-weight: 100;
}

/* Header & nav bars */
.topnav {
	position: relative;
	overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
	color: #FFCB05;
	text-align: center;
	text-decoration: none;
	font-size: 32px;
	padding: 50px 50px;
}

/* Style layout of links overall */
.topnav ul {
	list-style: none;
	background-color: #00588F;
	text-align: center;
	padding: 1em;
}

/* Style layout of text itself */
.topnav li {
	display: inline-block;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #FFCB05;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #FFCB05;
	color: white;
}

/* Body */

#info {
	height:874px;
	display: grid;
	grid-template-columns: 900px auto;
	grid: 800px 900px;
}

.left-side {
	display: grid;
	background-color: #FFEA7F;
	justify-content: center;
	align-items: center;
	
	color: green;
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 64px;
}

.right-side {
	display: flex;
	flex-direction: column;
	padding-left: 100px;
	justify-content: center;
	background-color: #38688C; /* Might need to remove for background parallax */
}

.club-title {
	font-family: primary;
	color: #FFCB05;
	font-size: 128px;
}

.caption {
	font-family: secondary;
	color: #FAFAFA;
	font-size: 24px;
}

.discordButton {
	font-family: 'Roboto';
	font-size: 36px;
	color: #FFCB05;

	margin-right: auto;
	margin-top: 50px;
	padding: 15px;

	border: 2px solid #FFEA7F;
}

/** Second half of Home Page **/
#info2 {
	height:874px;
	/* display: grid; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: #38688C;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper {
	width: 40%;
	height: fit-content;
	box-sizing: border-box;
}

.swiper-slide img {
	/* background-color: #38688C; */
	width: 100%;
}

.second-half-border {
	background-color: #3868AC;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

/*	Make the big-text hoverable with the 50px border radius.
	Whenever you hover, the small-text will pop up with radii too
	for only the bottom parts, and the bottom parts of the big-text
	will reduce its radius to 0px.
*/
.big-text {
	color: #FFCB05;
	font-size: 72px;
	font-family: secondary;

	margin-left: 100px;
	margin-right: auto;

	padding: 25px;

	border: 2px solid #FFEA7F;
	border-radius: 0px;
	transition: .15s;
}

.big-text:hover {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.small-text {
	color: #FAFAFA;
	font-size: 16px;
	font-family: 'Roboto';
	
	margin-top: 16px;
	margin-left: 100px;
	margin-right: auto;

	padding: 25px;

	border: 2px solid #FFEA7F;
	border-radius: 50px;
}

.quoted {
	color: #FAFAFA;
	font-size: 16px;
	font-family: 'Roboto';
	font-style: italic;
	margin-top: 50px;
}


/* 
Below this is where 
the about page CSS
shall be applied. 
*/

#main-content {
	height:1920px;
	background-color: #38688C;
	display: grid;

	grid-template-rows: 874px auto;
	justify-content: center;
	align-items: center;
	
	/* grid: 874px; */
}

.about-first-half {
	color: green;
}